<template name="last">
    <div class="container contest-content">
    <div class="row">
        <div class="col-md-5">
            <img src="/images/poster-2015.png" class="img-thumbnail featurette-image img-responsive center-block">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">지난 대회</h2>
            <p class="lead">'2015년도 전북대학교 컴퓨터공학부 프로그래밍 경진대회'는 교내 학생들을 대상으로 개최하는 열 번째 프로그래밍 경진대회입니다.</p>
            <p class="lead">전북대학교 컴퓨터공학부에서 주최했고, ALPS 동아리에서 주관했습니다.</p>
            <p class="lead">작년에는 총 17팀, 총 인원 51명이 참가하였고, 문제는 총 8문제였고 H번을 제외한 모든 문제를 풀었습니다.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p class="lead">금상 1팀 은상 1팀 동상 2팀으로 총4팀이 수상했습니다.</p>
            <p class="lead">(왼쪽 위 부터 금상,은상,동상)</p>
            <p class="lead">금상: 1등 팀</p>
            <p class="lead">은상: Linus_Torvalds 팀</p>
        </div>
        <div class="col-md-3"><img src="/images/contest_2015/96.JPG" style = "max-width:100%; height:auto"></div>
        <div class="col-md-3"><img src="/images/contest_2015/92.JPG" style = "max-width:100%; height:auto"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <p class="lead">동상: DDF 팀</p>
            <p class="lead">동상: 하늘보리 팀</p>
        </div>
        <div class="col-md-3"><img src="/images/contest_2015/89.JPG" style = "max-width:100%; height:auto"></div>
        <div class="col-md-3"><img src="/images/contest_2015/87.JPG" style = "max-width:100%; height:auto"></div>
    </div>
    <hr class="featurette-divider">
</div>
</template>
